@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Fira sans;
  background-color: #f5f5f5;
}
/* shared styles */
.btn {
  width: 100px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.margin-p {
  margin-top: 20px;
  margin-bottom: 28px;
}

/* section style */
section {
  margin: 24px 130px;
}
.section-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  gap: 24;
  padding: 24px;
}
.section-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  /* text-align: left; */
}
.section-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  /* text-align: left; */
}
.section-content-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section-content-sub {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.section-content img {
  height: 40px;
  width: 36px;
  margin-bottom: 25px;
}
/* nav styles */
nav {
  padding: 24px 130px;
  display: flex;
  justify-content: space-between;
}
nav h3 {
  font-size: 32px;
  font-weight: bold;
}
nav button {
  width: 116px;
  height: 52px;
  text-align: center;
  border-radius: 8px;
  color: #006a50;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin: 20px 130px;
  gap: 64;
  padding: 55px 85px 55px 85px;
  margin-bottom: 50px;
}
.banner .banner-content h5 {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.banner .banner-content h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 39px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
.banner .banner-content button {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  width: 240px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  margin-top: 30px;
}

/* Pillars of "Bangladesh 2.0" section design */
.pillars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24;
  padding: 0px;
}
.pillars .section-content {
  width: 230px;
  height: 220px;
  margin-top: 15px;
  margin-bottom: 50px;
  background: rgb(255, 255, 255);
}

/* the vision of future section style */
.vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24;
  padding: 0px;
}
.vision .section-content {
  width: 310px;
  height: 290px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.vision .section-content-sub {
  margin-top: 8px;
  margin-bottom: 24px;
}
.vsc-1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}
.vsc-2 {
  box-sizing: border-box;
  border-radius: 16px;

  background: rgb(198, 228, 214);
}
.vsc-3 {
  box-sizing: border-box;
  border-radius: 16px;

  background: rgb(247, 235, 207);
}
.btn-1 {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  border: none;
}
.btn-2 {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  border: none;
}
.btn-3 {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  border: none;
}

/* news section desgin */
.news {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  gap: 28px;
  padding: 40px;
  align-items: center;
}
.news .news-image {
  border-radius: 24px;
}
.news-headline {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.newsdate {
  margin-right: 10px;
}
.news-des {
  margin-top: 10px;
  margin-bottom: 27px;
}
.news-button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
}
/* donate section design */
.donate {
  text-align: center;
}
.donate-button {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 100px;
}
.donate-button button {
  width: 170px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 28px;
}
.donate-button .btn-color {
  background-color: rgb(198, 228, 214);
}
.donate-button-input {
  width: 700px;
  height: 50px;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  display: block;
  margin-left: 128px;
  text-align: center;
  margin-bottom: 28px;
}
.donate-done-button {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  width: 140px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
